.block-container,
.css-1544g2n {
    padding-top: 30px
}

.block-container img {
    margin-top: -30px
}

thead tr th:first-child {
    display: none
}

tbody th {
    display: none
}

thead,
td {
    font-size: 12px;
}